<div class="card col-11 m-3 p-3">
    <form id="issue-create-form" method="post" action="/issues/create">
        <input type="hidden" name="project" value="<%= project.id %>">
        <div class="mb-3">
            <label for="name"  class="form-label h4">Title</label>
            <input type="text" class="form-control" id="name" name="title" placeholder="Issue's title" required>
        </div>
        <div class="mb-3">
            <label for="des"  class="form-label h4">Description</label>
            <input type="text" class="form-control" id="des" name="description" placeholder="Description of Issue"
                   required>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label h4">Author</label>
            <input type="text" class="form-control" id="author" name="author" placeholder="Issue's Author" required>
        </div>
        <div id="labels" class="mb-3">
            <label for="label" class="h4 form-label">
                Label &nbsp;
                <img width="20px" height="20px" src="/img/add.svg" onclick="newinput()" class="mb-1">
            </label>

            <input list="label_list" type="text" id="lables-0" class="form-control m-2" id="label" name="labels"
                   placeholder="Issue's Label" multiple>
            <datalist id="label_list">
                <% for (let label of project.labels) { %><option value="<%= label %>"><% } %>
            </datalist>
        </div>
        <div class="mb-3 d-flex flex-row-reverse">
            <button type="submit" class="btn btn-dark"> Create Issue</button>
        </div>
    </form>
</div>